
 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body{
    background: linear-gradient(135deg, #28282a, #c3a16e);
    color: white;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #e8a957;
}

.nav h2{
    color: #fffcff;
    font-size: 50px;
}

.nav-btn{
    background: #d77b46;
    padding: 12px 22px;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    transition: 0.3s;
    padding: 15px 30px;
    text-overflow: inherit;
}

.nav-btn:hover{
    background: #c87455;
    
}


.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 50px;
}

.hero-text{
    max-width: 500px;
}

.hero-text h1{
    font-size: 50px;
    margin-bottom: 15px;
}

.hero-text span{
    color: #f1b4e8;
}

.hero-text p{
    font-size: 18px;
    color: #f2f2f2;
    margin-bottom: 30px;
}


.hero-buttons{
    display: flex;
    gap: 20px;
}

.btn{
    padding: 14px 30px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}

.primary{
    background: #e08f6c;
    color: white;
}

.primary:hover{
    background: #c87455;
}

.outline{
    border: 2px solid #fff;
    color: white;
}

.outline:hover{
    background: white;
    color: black;
}


.hero-img img{
    width: 620px;
    border-radius: 20px;
    animation: float 4s ease-in-out infinite;
}

@keyframes float{
    0%{ transform: translateY(0); }
    50%{ transform: translateY(-15px); }
    100%{ transform: translateY(0); }
}


.features{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 60px 50px;
}

.card{
    background: rgba(255,255,255,0.1);
    padding: 30px;
    width: 260px;
    text-align: center;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    transition: 0.3s;
}

.card:hover{
    transform: translateY(-10px);
}

.card i{
    font-size: 30px;
    color: #f1b4e8;
    margin-bottom: 15px;
}
